.carousel-message {
  position: absolute;
  padding: 15px;
  top: 1px; }

@media (max-width: 991px) {
  .carousel-message {
    background-color: rgba(10, 10, 10, 0.35);
    border-radius: 0.25rem; } }
